body { margin: 20px auto; padding: 10px; font-family: helvetica, arial, verdana, sans-serif; width:90%;}
html { background: #606060; }
body { color: #fff; border-left: 10px solid #d53e21; padding-left: 15px;
       font-family: Consolas, Courier New, monospace; box-shadow: 0 0 4px 0 rgba(0,0,0,0.50) inset; background: #333;}
h1 { color: #2abf4a; }
h2 { padding-bottom: 3px; border-bottom: 1px dotted #ccc; color:#ccc; }
h3 { border-left: 3px solid #2ABF4A; padding: 0 0 0 5px; }
a:link, a:visited, a:hover, a:active { color:#7fff00; text-decoration: none;}
a:hover {text-decoration: underline;}

p code { padding: 1px; background: #000; display: inline-block; color:#fff; }
pre code { padding: 5px 5px 5px 10px; border: 1px solid #444; background: #000; display: block; color: #fff; }